body {
    background-image: url('/imgs/space.jpeg');
}

h1 {
    color: white;
    font-size: 78px;
}

table {
    font-size: 20px;
    font-weight: bold;
    background-color: grey;
    opacity: 0.9;
}

table td, th {
    color:black;
    opacity: 1;
}

table td {
    margin: 10px 0;
    border-bottom: 1px solid white;
    border-right:1px solid white;
}

.btn {
    background-color: red;
    font-weight: bold;
    border-color: white;
    margin-bottom: 50px;
}
